/* порядок следования стилей: 
1 Позиционирование
2 Блочная модель
3 Типографика
4 Оформление
5 Анимация
6 Разное
 */


/* Позиционирование */

body {
	display: flex;
	flex-direction: column;
	padding-top: 26px;
}
.centered {
	margin: 0 auto;
	width: 882px;
}
header {
	display: flex;
	align-items: center;
	padding-bottom: 40px;
	background-color: #456789;	/* temp */
}
.logo {
	flex: 1 0 16.51%;
}
.main-nav {
	flex: 1 0 63.49%;
	display: flex;
	justify-content: flex-end;
	background-color: #987654;	/* temp */

}
.main-nav a {
	padding-left: 46px;
}

.main-nav a:nth-child(5) {
	padding-left: 96px;
}
.icon-cart {
	padding-right: 12px;
}
/*slider*/
.slider {
	position: relative;
	height: 310px;
}
.slider img {
	position: absolute;
	top: 0;
	right: 0;
}
.slide-3 img {
	top: -10px;
}
.text-wrapper {
	position: absolute;
	width: 466px;
	top: 35px;
	left: 0;
}

.switch {
	position: absolute;
	top: 206px;
	right: 406px;
}

.learn-more {
	position: absolute;
	top: 158px;
	right: 0px;
} 
footer {
	padding: 80px 0;
}

/* Оформление */

body {
	background: linear-gradient( to bottom, #eeeeee 435px, #ffffff 435px);
}