/* порядок следования стилей: 
1 Позиционирование
2 Блочная модель
3 Типографика
4 Оформление
5 Анимация
6 Разное
 */


/* Позиционирование */
*, *:before, *:after {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center; 

	
}
.gray-bg1, .gray-bg2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 26px;
}

header, .slider, .offer, .about-us, .partners, .map, footer {
	width: 882px;
}

 /* header */

header {
	display: flex;
	align-items: center;
	padding-bottom: 42px;
	background-color: #456789;	/* temp */
}

.logo {
	flex: 1 0 16.51%;
}

.main-nav {
	flex: 1 0 63.49%;
	display: flex;
	justify-content: flex-end;
	background-color: #987654;	/* temp */

}

.main-nav a {
	padding-left: 46px;
}

.main-nav a:nth-child(5) {
	padding-left: 96px;
}

.icon-cart {
	padding-right: 12px;
}

.greeting {
	padding-top: 32px;
}

/*slider*/
.slider {
  position: relative;
	height: 309px;
	background-color: #7e8f90;  /* temp */
}
.slider input[type=radio] {
	position: absolute;
	opacity: 0;
}

.switch {
	position: absolute;            
	display: flex;
	bottom: 94px;                  
	left: 406px;                  
  width: 48px;                 
  height: 10px;        
}

.switch label {
  width: 4px;
  height: 4px;
  margin: 0 3px;
  background: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: content-box;
}

#slide-1:checked ~ .switch label[for="slide-1"],
#slide-2:checked ~ .switch label[for="slide-2"],
#slide-3:checked ~ .switch label[for="slide-3"] { 
  background: #c1c1c1;
}

.slide{
  min-height: 100%;
  overflow: hidden;
  display:none;
}
.slides {
  height: 100%;
  width: 100%;
}

#slide-1:checked ~ .slides .slide:nth-child(1) { 
  display: block;
}

#slide-2:checked ~ .slides .slide:nth-child(2) { 
  display: block;
}

#slide-3:checked ~ .slides .slide:nth-child(3) { 
  display: block;
}

.text-wrapper {
  width: 465px;
  padding: 30px 0;
  color: #283136;
}

.learn-more {
  display: block;
  width: 240px;
  height: 38px;
  border-radius: 3px;
  background-color: #435890;
}

.slide:nth-child(1) {
  background: url("../img/cross-devices.png") no-repeat 100% 10px;
}

.slide:nth-child(2) {
  background: url("../img/calc.png") no-repeat 100% 10px;
}

.slide:nth-child(3) {
  background: url("../img/drugs.png") no-repeat 100% -9px;
}


.range {
	background-color: #234555;
	width: 200px;
	height: 3px;
}

.thumb {
	width: 15px;
	height: 15px;
	background-color: #cccccc;
	border-radius: 8px;
}
.dot {
	width: 9px;
	height: 9px;
	background-color: #000;
	border-radius: 6px;
}


.offer {
	display: flex;
	padding: 80px 0 80px 0;
	min-height: 345px;
	justify-content: space-between;
	background-color: yellow;
	border-bottom: 2px solid #eeeeee;
}
.offer > div {
	width: 242px;
	height: 300px;
}

.about-us {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 60px 0 60px 0;
	background-color: #f9c5c7;
	border-bottom: 2px solid #eeeeee;
}
.praud {
	width: 575px;
	height: 128px;

}
.offer-list {
	width: 430px;
	height: 150px;
}
.since {
	width: 240px;
	height: 120px;
}
.hard {
	width: 228px;
	height: 150px;
}


.partners {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	padding: 45px 20px 35px 12px; 
	background-color: #abcca9;
	border-bottom: 2px solid #eeeeee;

}

.map {
	padding-top: 85px;
	height: 416px;
	background-color: #124538;
}






footer {
	padding: 80px 0;
	display: flex;
	justify-content: space-between;

}
.social {
	display: flex;

}
.social .icon{
	width: 62px;
	height: 62px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 28px;
	
}






/*Типографика*/

.about-us span, .about-us p {
	font-family: 'Roboto', sans-serif;
}



/* Оформление */

.gray-bg1 {
	width: 100%;
	height: 437px;
	background-color: #eeeeee;
}
.gray-bg2 {
	width: 100%;
	height: 328px;
	background-color: #eeeeee;
}
.slide-1 img {
	width: 338px;
	height: 231px;
}
.slide-2 img {
	width: 230px;
	height: 249px;
}
.slide-3 img {
	width: 333px;
	height: 319px;
}

.social .icon {
	background-color: #e1e1e1;
	border-radius: 50%;
}
